.App {
  text-align: center;
  background-image: linear-gradient(to bottom, darkorange, chocolate, teal, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}
.App-header {
  color: snow;
  font-size: calc(14px + 2vmin);
  height: 100vh;
  width: 100vw;
  background: 
    linear-gradient(to top, darkorange, chocolate, teal, black);
}

/*.verakatz {
  background: 
    linear-gradient(
      rgba(255,128, 0, 0.15), 
      rgba(0,128, 255, 0.15)
    );
}*/

.heavy-awesome-text {
  font-size: calc(26px + 3vmin);
}

a {
  color: #2bbbad;
}
a:hover{
  color: #000;
}
.social-links { 
  color: darkorange;
}
.social-links:hover{
  color: #000;
}

.img-shield {
  margin: 1rem;
}
.card-buffer {
  margin: 2rem;
}
.important {
  min-width: 80%;
}
.favicon {
  width: 20px; 
  height: 20px; 
}
/* avatar pic */
.phiz {
  max-width: 120px;
  max-height: 120px;
}
/* down arrow w animation cycle */
@-webkit-keyframes arrow-soft-bounce {
  0%, 100%   { font-size: calc(28px + 10vmin); }
  50% { font-size: calc(28px + 15vmin); }
}
@-moz-keyframes arrow-soft-bounce {
  0%, 100%   { font-size: calc(28px + 10vmin); }
  50% { font-size: calc(28px + 15vmin); }
}
@-o-keyframes arrow-soft-bounce {
  0%, 100%   { font-size: calc(28px + 10vmin); }
  50% { font-size: calc(28px + 15vmin); }
}
@keyframes arrow-soft-bounce {
  0%, 100%   { font-size: calc(28px + 10vmin); }
  50% { font-size: calc(28px + 15vmin); }
}

.fa-arrow-circle-o-down{
  -webkit-animation: arrow-soft-bounce 4s infinite; /* Safari 4+ */
  -moz-animation:    arrow-soft-bounce 4s infinite; /* Fx 5+ */
  -o-animation:      arrow-soft-bounce 4s infinite; /* Opera 12+ */
  animation:         arrow-soft-bounce 4s infinite; /* IE 10+, Fx 29+ */
}



