.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, darkorange, chocolate, teal, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}
.App-header {
  color: snow;
  font-size: calc(14px + 2vmin);
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.verakatz {
  background-image: url(verakatz.png);
}

.heavy-awesome-text {
  font-size: calc(28px + 3vmin);
}

a {
  color: #2bbbad;
}
a:hover{
  color: #a6c;
}
.social-links { 
  color: darkorange;
}
.social-links:hover{
  color: #a6c;
}

.img-shield {
  margin: 1rem;
}
.card-buffer {
  margin: 2rem;
}
.important {
  min-width: 80%;
}
.favicon {
  width:20px; 
  height:20px; 
}